@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Pocetna */

.cistac {
  clear: both;
}


header {
  background-color: #3e5c4c;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 2px solid #292b2a;
}


#logo {
  /* width: 25%; */
  float: left;
}


#logo a {
  text-decoration: none;
}


.link {
  background-image: url("../../images/logo.jpg");
  background-size: contain;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#logo a img {
  width: 120px;
  border-radius: 20px;
}

nav {
  margin-top: 35px;
  margin-bottom: 35px;
  float: right;

}

nav ul li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #292b2a;
}


a.effect-underline:after {
  content: '';
  color: #fff;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: #ffffff;
}

#app {
  z-index: 100;
}

#app {
  display: grid;
  align-items: center;

  height: 510px;
  width: 100%;
  background: #ede8e2;
  color: #3a3535;
}


body {
  display: grid;
  background: #ede8e2;
}


.mozart-inner,
.cafe-inner {
  font-family: 'Marcellus', serif;
}

.title {
  padding-left: 1em;
  padding-right: 0.2em;
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 8vw;
  width: 100%;
  z-index: 2;
}

.title .title-inner {
  display: inline-block;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }

  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe .cafe-inner {
  display: inline-block;
}

.mozart {
  display: inline-block;
}

.image {
  grid-row: 1;
  grid-column: 2;


  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

body:active * {
  animation: none !important;
}


#formainfo1 {
  margin-top: 20px;
  border-top: 2px solid #3a3535;
  width: 100%;
  background-image: url("../../images/slika2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
}

.tekst-slika1 {
  width: 900px;
  line-height: 1.4;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 15px;
  background-color: rgba(82, 117, 88, 0.75);
  margin-right: 45px;
  margin-left: 20px;
  padding: 30px;
}

.tekst-slika1 h2 {
  text-align: left;
  margin-bottom: 10px;
}


#formainfo2 {
  border-top: 2px solid #3a3535;
  width: 100%;
  background-image: url("../../images/slika4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.tekst-slika2 {
  width: 500px;
  text-align: justify;
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgba(82, 117, 88, 0.75);
  padding: 30px;
  color: #fff;
  line-height: 1.4;
  text-indent: 45px;
  margin-left: 45px;
}

/* footer */


footer {
  background-color: #3e5c4c;
  width: 100%;
  position: scroll;
  bottom: 0%;
  border-top: 2px solid #3a3535;
  display: flex;
  justify-content: space-between;
}


.social i {
  font-size: 25px;
  color: #fff;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}


.rssSitemap {
  margin-right: 70px;
}


.rssSitemap i {
  font-size: 25px;
  color: #fff;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.social a i:hover,
.rssSitemap a i:hover {
  text-shadow: 2px 2px 2px #000;
}

.default {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.social {
  margin-left: 70px;
}

.copyright p,
.copyright a {
  color: #ede8e2;
  text-decoration: none;
  margin-top: 15px;
}

.copyright p:hover {
  text-decoration: underline;
}


.copyright {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Galerija */

#galerija {
  background-color: #ede8e2;
  width: 100%;
}

#galerija h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #3a3535;
}

#galerija p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

#galerija img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform .5s;
  border-radius: 2%;
}

.slikeprvired,
.slikedrugired,
.sliketrecired,
slikecetvrtired,
slikepetired {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.sliketrecired {
  margin-bottom: 50px;
}


#galerija img:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}


/* Kontakt */

.forma {
  width: 100%;
  background-color: #ede8e2;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}


.kontakth1 {
  color: #3a3535;
  text-align: center;
}

input,
textarea {
  width: 250px;
  height: 90px;
  border-radius: 2%;
  padding: 5px;
}

textarea {
  resize: none;
}

.kontakt input {
  height: 25px;
  border-radius: 5px;
}

#posalji {
  margin-top: 25px;
  width: 100px;
  object-fit: cover;
  transition: transform .5s;
  border-radius: 5px;
  margin-left: 80px;
}

.dugme:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.kontaktinformacije ul li {
  list-style-type: none;
  margin: 4px;
  margin-top: 20px;
}

.kontaktinformacije {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  margin-top: 40px;
}

#kontaktforma {
  display: flex;
  justify-content: space-around;
}

/* O autorou */

#formaoautoru {
  width: 100%;
  background-color: #fff;
  background-position: center;
}

#bodyoautoru {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  box-sizing: border-box;
  margin: 20px 20px;
  height: 75vh;
}

#bodyoautoru p {
  width: 50%;
}

.biografija {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}


.slikaoautoru img {
  width: 300px;
  object-fit: cover;
  transition: transform .5s;
  border-radius: 2%;
}


.slikaoautoru img:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}
