@media only screen and (max-width: 1372px) {
    .opis_wrapper {
        display: flex;
        flex-direction: column;
    }

    .projekat div a img {
        width: 490px;
    }

}


@media only screen and (max-width: 1200px) {
    .slika img {
        width: 300px;
    }

    .wrapper {
        width: 60%;
    }

    .projekat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projekat div a img {
        width: 800px;
    }

}

@media only screen and (max-width: 1024px) {
    .slika img {
        width: 250px;
    }

    .wrapper {
        width: 80%;
    }

    .skill_wrapper {
        flex-wrap: wrap;
    }

    .desni_skilovi {
        flex-direction: row;
        width: 100%;
    }

    .desni_skilovi .skill1 {
        align-items: flex-start;
    }


    .skill1 {
        width: 45% !important;
    }

    .projekti {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projekat div a img {
        width: 500px;
    }

}

@media only screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        width: 100%;
        list-style: none;
    }

    .grow:hover {
        width: 56px;
    }

    nav ul li h2 {
        display: none;
    }

    nav {
        align-items: flex-start;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .slika {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .skill_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill1 {
        width: 90% !important;
    }

    .projekat div a img {
        width: 500px;
    }

    #ime,
    #prezime,
    #email,
    #poruka {
        width: 380px;
    }
    
    .naslov1 {
        font-size: 10px;
    }
}


@media only screen and (max-width: 590px) {

    #opis {
        width: 95%;
    }

    .projekti div a img {
        width: 300px;
    }

    .projekat div a img {
        width: 400px;
    }
}

@media only screen and (max-width: 410px) {

    .grow i {
        margin: 0px auto;
    }

    .projekat div a img {
        width: 300px;
    }

    #ime,
    #prezime,
    #email,
    #poruka {
        width: 320px;
    }

}
